/* UNIVERSAL SELECTOR */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

nav{
    background-color: white;
    height: 54px;
    border-bottom: #dbdbdb 1px solid;
    display: flex;
    justify-content: center;

}

.inner-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 975px;
}

.logo{
    width:45px;
    border-radius: 25px;
}

.search-input{
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    border-radius: 25px;
    padding: 5px 10px;
}

.navbar-icons{
    display: flex;
    align-items: center;
}

.profile-pic{
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.margin-left{
    margin-left: 20px;
}

.margin-right{
    margin-right: 50px;
}

.stories-bar{
    margin: 60px auto;
    width: 614px;
    height: 115px;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.stories-align{
    display: flex;
    align-items: center;
    justify-content: space-between 10px;
    justify-content: space-between;
    flex-direction: row;
}

.story-icons{
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
    padding: 18px 10px;
    /* border: 2px solid rgb(206, 95, 31); */
    
}

.story-names{
    display: flex;
    align-items: center;
    justify-content: space-between 10px;
    justify-content: space-between;
    flex-direction: row;  
    font-size: 12px;
    padding: 1px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 0.2;
}

.post-box{
    margin: 60px auto;
    width: 614px;
    height: 650px;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.post-image{
    max-width: 614px;
    display: flex;
    flex-direction: column;
}

.post-header{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
    font-weight: 600;
}

/* .posts{
    max-width: 975px;
    display: flex;
    flex-direction: column;
} */

button {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 25px;
  }

  .post-username{
    padding-right: 460px;
    padding-top: 18px;
  }

  .footer-icons{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    margin-right: 490px;
    cursor: pointer;

  }

  .caption{
    display: flex;
    flex-direction: row;
    font-size: 13px;
  }

  .caption-user{
    font-weight: 600;
    padding-right: 8px;
    padding-left: 10px;
    font-size: 13px;
  }

  .add-comment{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 613px;
    margin-top: 72px;  
  }

  .likes{
    font-size: 13px;
    font-weight: 600;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
  }